@import "~@angular/material/prebuilt-themes/indigo-pink.css";
input.ng-invalid.ng-touched {
  border-color: brown;
}
.validation-error {
  color: red;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
